name: Publish the package to pypi

on: workflow_dispatch

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/lazy-github
    permissions:
      id-token: write
    steps:
      # Perform a bunch of setup
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
    - uses: yezz123/setup-uv@v4

    - name: Calculate version
      id: calculate-version
      run: |
        new_version=$((uvx hatch version))
        echo "version=${new_version}" >> $GITHUB_OUTPUT

      # Build the distribution
    - name: Build lazy-github distribution
      run: uvx hatch build

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

    - name: Create tag
      uses: actions/github-script@v5
      with:
        script: |
          github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: 'refs/tags/v${{ steps.calculate-version.outputs.version }}',
            sha: context.sha
          })

    - name: Notify when this workflow completes (regardless of success or failure)
      needs:
        - pypi-publish
      runs-on: ubuntu-latest
      uses: nobrayner/discord-webhook@v1
      with:
        title: "Version ${{ steps.calculate-version.outputs.version }} published to PyPi"
        description: "Check out the new version [here](https://pypi.org/project/lazy-github/${{ steps.calculate-version.outputs.version }}/)"
        github-token: ${{ secrets.github_token }}
        discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
